<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body style="background-color:powderblue;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1">Quiz</a>
      </li>
    </ul>
  </div>
</nav>


<!--<div class="container">-->
<!--  <h1>Please register your account</h1>-->
<!--  <br>-->
<!--  <form action="" method="post">-->
<!--    <input type="text" placeholder="Username" name="username" value="{{-->
<!--      request.form.username }}">-->
<!--     <input type="password" placeholder="Password" name="password" value="{{-->
<!--      request.form.password }}">-->
<!--    <input class="btn btn-default" type="submit" value="Login">-->
<!--  </form>-->
<!--    <a href="/welcome">Back</a>-->



<input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">

<input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">

<input class="btn btn-default" type="submit" value="Register">

<a href="/welcome">Back</a>

</body>
</html>