*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	list-style:none;
	text-decoration: none;
}
body{
	background-color: #d6d6d6;
	font-family: 'ariel', sans-serif;

}
.banner {
	width:100%;
	height:70px;
	display:block;
	background-color: #474747;
	text-align:center;
}
.banner h1{
	margin:auto;
	display:inline-block;
	padding-top:8px;
	font-family: 'Bangers', cursive;
	font-size:50px;
	color:white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.navbanner{
	width:100%;
	height: 28px;
	margin:auto;
	background-color:#474747;
	border-bottom: solid red 1px;

}
.navbanner ul{
	display:block;
	text-align:center;
}
.navbanner li{
	display:inline-block;
	color:white;
	padding:0 15px 0 15px;
	font-family: 'ariel', sans-serif;
	font-size:14px;
}
.intro{
	width:75%;
	height:200px;
	margin:auto;
	display:block;
	text-align:center;
	padding-top:40px;
}
.intro h1{
	display:inline-block;
	font-size:36px;
}
.intro h1 span{
	font-family: 'Bangers', cursive;
	font-size:48px;
	color:white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.intro hr{
	margin:auto;
	width:600px;
}
.block{
	display:flex;
}
.block h1{
	display:inline-flex;
}

}
.images img{

	float:right;
	width:250px;
	height:250px;
	padding:10px 10px 10px 10px;
}
.about{
	display:flex;
	width:75%;
	margin-left:300px;
	padding-right:0px;
	padding-top:50px;
}
.about p{
	margin-right: 0px;
	width:500px;
}
.conor {
	display:inline-flex;
	width:350px;
	height:500px;
	float:right;
}